.awardsSwiper{
    margin-top: 60px !important;
    position: relative  !important;
    .swiper-pagination-bullet {
        display: none !important;
        width: 12px !important;
        height: 12px !important;
        border: solid 1px white;
        margin-left: 5px !important;
    }
    .swiper-pagination-bullet-active{
        background-color: $white !important;
        width : 12px !important;
        height : 12px !important;
        border-radius: 50px !important;
    }
    .swiper-button-prev , .swiper-button-next {
        position: absolute !important;
        top: 50% !important;
        transform: translateY(50%);
        color: white;
        display: block !important;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        font-weight: 900 !important;
        font-size: 13.5px !important;
        padding-inline: 12.5px;
        padding-block: 9.5px;
        color: $black;
        background-color: $white;
        border-radius: 50px;
    }
    .swiper-pagination {
        position: absolute !important;
        bottom: 20px !important;
    }
    .swiper {
        padding-inline: 50px;
        position: relative !important;
        width: 1300px !important;
        border-radius: 16px;
        height: 627px !important;
        .swiper-slide{
            height: 100% !important;
            width : 100% !important;
            img {
                width: 100% !important;
                height: 100% !important;
                object-fit :contain !important;
                object-position: center !important;
            }
        }
    }
}
@media (max-width : 1204px) {
    .awardsSwiper{
        .swiper-button-prev , .swiper-button-next {
            bottom: -20px !important;
            top: unset !important;
            transform: translateY(0%);
        }
        .swiper-button-prev{
            left: 35px;
        }
        .swiper-button-next{
            right: 35px;
        }
        .swiper-button-prev:after, .swiper-button-next:after {
            font-weight: 900 !important;
            font-size: 8px !important;
            padding-inline: 4px;
            padding-block: 2px;
        }
        margin-top: 12px !important;
        .swiper {
            border-radius: 0px;
            padding-inline: 32px;
            width: 100% !important;
            height: unset !important;
        }
    }
}