.orangeBtn{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    .innerDiv{
        padding: 14px 12px 14px 32px ;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        border-radius: 40px;
        background-color: $orange;
        h5{
            font-weight: 500;
            font-size: 20px;
            line-height: 26.1px;
        }
    }
}